/*Reset css*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none; color: black;
}
/*css--Home*/
html{
  scroll-behavior: smooth;
}

body {
  background-size: 100vw;
  padding: auto;
  margin: auto;
  background: #eeeeee;
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: grid;
  grid-template-rows: 0fr 1fr;
}

.linha-menu {
  color: whitesmoke;
}

.icon-menu {
  display: none;    
  width: 30px;
  height: 30px;}

.icon-menu {display: none;}

.menu {
  height: 50px;
  position: fixed;
  width: 100vw;
  background-color: #202020;
  box-shadow: 0px 2px 5px black;
  text-align: center;
  text-decoration: none;
  text-shadow: 0px 2px 5px black;
  z-index:4;
}

.menu ul {
  margin: 15px;
  display: inline-flex;
}

.world::after {
  font-size: 0.7em;
  content: '|';
  opacity: 0.7;
  animation: pisca 1s infinite;
}

@keyframes pisca {
  0% {
    opacity: 0.7;
  }
  50%{
    opacity: 0.1;
  }
}

.menu a:active {transition: all;}
.menu a {
  text-decoration: none;
  color: white;
  padding: 15px 10px;
  transition: font-size 1s, background-color 1s;
  font-size: 1em; 
  transition: all 1s;
  left: 0;
}

.menu a:hover { 
  background-color: white;  
  color: black;
  font-size: 1.1em;
  transition: all 1s;
}


.apresentacao {
  margin-top: 50px;
  background: #2E2E2E;
  box-shadow: 0px 2px 5px black;    
  height: 200px;
  text-align: center;
  z-index:1;
}

.apresentacao h1 {
  padding: 20px 0 0 0;
  margin: 0 auto;
  color: white;
  text-shadow: 0px 2px 5px black;
}

.apresentacao h2{
  color: white;
  padding: 20px 20px;
  font-size: 20px;
  text-shadow: 0px 2px 5px black;
}

.site-subtitulo,.site-titulo  {
  text-align: center;
}

.site-subtitulo {
  font-style: italic;
}

.img-apresentacao {
  text-align: center;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: 2px 2px 4px black;
}


main  h2 {text-align: center; }
.principal {
  display: grid;
  grid-template-columns: 1fr 0fr;
  grid-template-rows: 55vh;
  margin: 0 10vw;
}

mark{
  background-color: transparent;
  font-weight: bold;
  text-shadow: 0 2px 5px 0 #797575;
}

.principal-sobre {
  margin-left: 5vw;
  margin-left: 5vw;
}

.principal-texto:active{background-color: #494747; font-size: 1.1em; color: #eeeeee;}
.principal-texto {
  font-size: 1.1em;
  min-height: 50vh;  
  text-align: center;
  background-color: #f4f4f4;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  margin-top: 20px;
  padding: 0 10vh 10vh 10vh;
  transition: all 1.5s;
}

.principal-texto p {margin-top: 20px;}
.principal-texto h2 {padding-top: 10vh;}

.media-social {
  min-height: 50vh;
  text-align: center;  
  margin-top: 20px;
}


.media-social ul {
  padding-top: 4vh;
}

.icon-social {
  margin-left: 1vw;
  margin-top: 20px;
  opacity: 0.5;
  height: 40px;
  width: 40px;
  transition: all 1s;
}
.icon-social:hover {
  transform: rotateY(360deg);
  background-color: white ;
  opacity: 1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}
/*CSS - -time-line*/

/* CSS-- timeline (régua vertical) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.titulos{padding: 10vh 5vw 5vh 5vw;}
.time-line p {text-align: center;}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #f4f4f4;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

#cargo::before {
  content: '💼 ';
}

#cargo {
  padding: 10px 10px 5px 10px;
  font-weight: bold;
  text-align: center ;
}
#segmento{
  padding-bottom: 10px;
  font-size: 0.7em;
  text-align: start;
}

/* Container para conteudo */
.container {
  padding: 10px 50px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Circulos da Time-line */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #2e2e2e;
  border: 4px solid #f4f4f4;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

/* CSs - -recipiente à esquerda */
.left {
  left: 0;
}

/* CSs - -recipiente à direita */
.right {
  left: 50%;
}

/* Setas ao container esquerdo (apontando para a direita) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
  
}

/* Setas ao container direito (apontando para a esquerda) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Css --  círculo para recipientes no lado direito*/
.right::after {
  left: -16px;
}

/* Css--conteudo time-line */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  transition: all 0.5s;
}

.content:hover{background-color: #424242; color: #eeeeee;}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/* css--contato */

.principal-contato {
  display: flex;
  justify-content: center;
}

.form {
  display: grid;
  font-size: 1em;
  color: #eeeeee;
  background-color: #424242;
  width: 40vw;
  margin: 10px;
  margin: 20px 0px 40px 5px;
  padding: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);   
}

form input, form textarea{
  color: #eeeeee;
  background-color: transparent;
  font-size: 1em;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  opacity: 1;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12); 
}

label {display: none;}

.form input {max-width: 100vw;}
.form textarea {
  max-width: 100vw;
  height: 20vh;
}

::placeholder:hover {padding: 10px;}
::placeholder {
  font-size: 0.8em;
  color: white;
}

.enviar:hover {
  border-bottom-style: solid;
  border-bottom-color: white;
  cursor: pointer;
  color: #f4f4f4;
  font-size: 1.1em;
  background-color: #424242;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12); 
}
.enviar {
  color: #202020;
  background-color: white;
  margin-top: 10px;
  width: 20%;
  transition: all 1s;
}


.info-contato {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  text-align: end;
  font-size: 1em;
  color: #424242;
  background-color: #f4f4f4;
  width: 40vw;
  margin: 20px 20px 40px 0px;
  padding: 40px 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12); 
}

.info {
  text-align: end;
  margin-top: 40px;
}

/* css--footer */

footer{ background-color: white;}
.footer{
  font-size: 1em;
  color: #202020;
  text-align: center;  
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12); 
}

.footer img:hover{
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.footer img {
  border-radius: 0%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  width: 30px;
  height: 30px;
  opacity: 0.5;
  margin-top: 5px;
  padding: 5px;
  transition: all 1s;
}

/*CSS--Responsive-principal*/
@media screen and (max-width: 1024px) {
  
  nav {font-size: 0.8em;}
  .principal {
      display: inline-block;
      text-align: center;
  }
  .principal-sobre {
      width: 80vw;
      margin: 0 auto;
  }

  .principal-texto {
      min-height: 30vh; 
      padding: 0vh 5vh 5vh 5vh;
  }
  .principal-texto h2 {padding-top: 12vh;}
  .principal-texto p {
      font-size: 1em;
  }
    
  .media-social ul, .media-social {
      display: inline-flex;
      margin-top: 0;
      padding-top: 0;
      min-height: 10vh;
  }

  .icon-social {
      margin-left: 5vw;
      opacity: 0.5;
      height: 40px;
      width: 40px;
  }

  .principal-contato {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1em;
  }

  .form, .info-contato {
    margin: auto;
    width: 80%;
  }
  .form textarea {max-width: 70vw;}

  .info-contato {
    margin-bottom: 50px;
  }
  

}

@media screen and (max-width: 435px) {
  .principal-texto h2 {
      margin-top: 20px;
  }

  .menu ul, .menu hr {
    display: flex;
    flex-direction: column;
    justify-content: start;  

  }

  .icon-menu img:hover {background-color: white;}  
  .icon-menu img {background-color: #f4f4f4;margin: 10px;}
  
  .icon-menu {
    cursor: pointer;
    position: absolute;
    height: 50px;
    position: fixed;
    width: 100vw;
    background-color: #202020;
    box-shadow: 0px 2px 5px black;
    text-decoration: none;
    text-shadow: 0px 2px 5px black;
    z-index:4;
  }

  .fundo-menu {
    position: fixed;
    background: transparent;
    width: 100vw;
    height: 100vh;
    transition: all 1S;
    z-index: -1;
  }
  #check:checked ~.fundo-menu {
    transition: all 1S; 
    background: rgba(0, 0, 0, 0.623); 
    z-index: 3;  
  }

  .menu, .icon-menu {
    position: fixed;
    display: inline;
    z-index: 5;
  }
  .menu hr{display: none;}
  .menu li{
    text-align: left;
    padding: 10px 0 10px 0;
  }
  
  input[type="checkbox"] {
    display: none;
  }

  .icon-menu img {
    width: 30px;
    height: 30px;
    padding: 5px;
  }

  input[type="checkbox"]:checked ~ .menu {
    position: fixed;
    transform: translateX(100%);
    transition: all 1S;    
  }

   .menu {
    position: fixed;
    background: linear-gradient(to right,rgba(255, 255, 255) 50vw, transparent 0vw);
    font-size: 1em;
    margin: 40px 0px 10px;
    width: 100vw;
    height: 100vh;
    left: -100%;
    box-shadow: none;
    transition: all 1S;
  }

  .menu a {
    font-size: 1em;
    color: black;
    
  }
  .menu a:hover { 
    background-color: transparent;  
    color: black;
    font-size: 1.1em;
    transition: all 1s;
  }

    .enviar {
    color: #202020;
    background-color: white;
    margin-top: 10px;
    width: 30%;
    transition: all 1s;
  }
}
